<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>My Blog</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class = 'container'>

        <a class="navbar-brand" href="{%url 'home'%}">
          <image src="{% static 'logo.png' %}" height=30 width=30 class="d-inline-block alightn-top"/></a>Product Hunt
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout </a>
              </li>
              <form id="logout" method="POST" action="{% url 'logout'%}">
                {% csrf_token %}

                <input type="hidden" />
              </form>
              {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="{%url 'signup'%}">Sign Up </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'login'%}">Login </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>

      </nav>
    </header>

  <div class = 'container'>
    {% block content %}
    <br />
    {% endblock %}

  </div>

  <footer class="text-muted">
    <div class="container">
      <p>  &copy Copirights to Toppixx {% now "Y" %}</p>

    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
